@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: transparent !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

body {
  background: rgba(0,0,0, 0.1);
}
body.dark {
  background: transparent;
}

.around-shape {
  float: right;
  shape-outside: polygon(75% 0%, 75% 10%, 100% 10%, 100% 0%);
  width: 190px;
  height: 190px;
}
